.vacancy-card {
  padding: 16px;
  background: var(--white);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  border: 1px solid transparent;
  transition: border 0.3s ease-in;
}

.vacancy-card:hover {
  border-color: var(--primary-100);
}

.info__vacancy-card {
  margin-bottom: 16px;
}

.top__vacancy-card {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.top__vacancy-card div {
  display: flex;
  align-items: center;
  gap: 12px;
}
.top__vacancy-card img {
  cursor: pointer;
}

.title__vacancy-card {
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--black-100);
}

.company__vacancy-card {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: var(--black-75);
}

.salary__vacancy-card {
  margin-bottom: 16px;
}

.salary__vacancy-card p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--black-75);
}

.location__vacancy-card {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.location__vacancy-card p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: var(--black-75);
}

.date__vacancy-card {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--black-75);
}

.three-dots .ant-btn-default {
  border: none;
  padding: 0;
  /* background: #000; */
}

.footer__vacancy-card {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (max-width: 900px) {
  .vacancy-card {
    width: 100% !important;
    max-width: none;
  }
}

@media (max-width: 834px) {
  .title__vacancy-card {
    font-size: 24px;
  }
}

@media (max-width: 534px) {
  .vacancy-card {
    padding: 16px;
  }

  .title__vacancy-card {
    font-size: 22px;
  }

  .footer__vacancy-card {
    gap: 10px;
  }
}
