.vacancy-card {
  margin-bottom: 24px;
  padding: 24px;
  width: 608px;
  background: var(--white);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
}

.info__vacancy-card {
  margin-bottom: 24px;
}

.top__vacancy-card {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title__vacancy-card {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: var(--dark);
}

.company__vacancy-card {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray);
}

.bottom__vacancy-card {
  display: flex;
  align-items: center;
  gap: 14px;
}

.bottom__vacancy-card p {
  padding: 4px 12px;
  border: 1px solid var(--lightgray);
  border-radius: 12px;
}

.text__vacancy-card {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--gray);
}

.date__vacancy-card {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--gray);
}

@media (max-width: 1300px) {
  .vacancy-card {
    max-width: 500px;
  }
}

@media (max-width: 1170px) {
  .vacancy-card {
    max-width: 450px;
  }
}

@media (max-width: 1000px) {
  .vacancy-card {
    max-width: 400px;
  }
}

@media (max-width: 900px) {
  .vacancy-card {
    width: 100% !important;
    max-width: none;
  }
}

@media (max-width: 834px) {
  .title__vacancy-card {
    font-size: 24px;
  }
}

@media (max-width: 534px) {
  .title__vacancy-card {
    font-size: 22px;
  }
}
