.occupations {
  margin-top: 96px;
  padding: 40px;
  background: var(--lightsmoke);
  border-radius: 16px;
  position: relative;
}

.occupations__content {
  margin-top: 40px;
}

.shadow__occupation {
  position: absolute;
  bottom: 33px;
  right: 40px;
  width: 157px;
  height: 144px;
}

@media (max-width: 834px) {
  .occupations {
    margin-top: 76px;
  }
}

@media (max-width: 650px) {
  .occupations {
    padding: 24px;
    min-height: 340px;
  }

  .shadow__occupation{
    bottom: 100px;
    right: 20px;
  }
}

@media (max-width: 500px) {
  .occupations {
    margin-top: 55px;
  }
}
