.companies {
  margin-top: 96px;
  padding-top: 64px;
  padding-bottom: 72px;
  background: var(--white-50);
  position: relative;
}

.companies__content {
  margin-top: 56px;
}

@media (max-width: 580px) {
  .companies__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .companies__content .ant-col-xs-12 {
    flex: none;
  }
}

@media (max-width: 490px) {
  .companies__content .ant-row {
    justify-content: center;
    margin: 0 auto;
  }
}
