.desc__create-vacancy h6 {
  margin-bottom: 16px;
  color: var(--black-75, #555351);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.desc__create-vacancy p {
  margin-bottom: 24px;
  width: 65%;
}

.create-vacancy .ant-radio-group {
  text-align: left;
  background: transparent !important;
  border: none !important;
}

.create-vacancy .ant-space-item:nth-child(3) .ant-radio {
  margin-top: 5px;
  align-self: flex-start;
}

.create-vacancy .ant-radio-group p {
  color: var(--black-75, #555351);
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.personal-information__create-vacancy {
  margin-bottom: 40px;
}

.personal-information__create-vacancy h6 {
  margin-bottom: 8px;
  color: var(--black-75, #555351);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.labeled-line__create-vacancy {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--light);
}

.labeled-line__create-vacancy .ant-radio-group {
  text-align: right;
}

.labeled-line__create-vacancy p {
  width: 20%;
}

.subtitle__create-vacancy {
  color: var(--black-75, #555351);
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.table-header__create-vacancy {
  display: flex;
  justify-content: space-between;
}

.default-btn__create-vacancy {
  width: 114px;
  height: 40px;
}

@media (max-width: 500px) {
  .labeled-line__create-vacancy {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .labeled-line__create-vacancy .ant-radio-group {
    text-align: left;
  }

  .labeled-line__create-vacancy .ant-radio-wrapper {
    flex-direction: column;
  }

  .table-header__create-vacancy {
    flex-direction: column;
    gap: 24px;
  }

  .table-header__create-vacancy button {
    width: 100%;
    height: 40px;
  }

  .labeled-line__create-vacancy p {
    width: 100%;
  }
}
