.vacancy-modal .ant-modal-content {
  padding: 0 !important;
}

.vacancy-modal .ant-modal-close {
  background: var(--white) !important;
  border-radius: 50% !important;
}

.yandex-modal {
  position: relative !important;
  width: 100%;
  height: 500px;
}

.vacancy-full {
  position: sticky !important;
  top: 0;
  padding-top: 24px;
  width: 713px;
  height: 100vh;
  background: var(--white);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.vacancy-full::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.vacancy-full {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.header__vacancy-full {
  padding: 0 24px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-bottom: 1px solid var(--lightgray);
}

.header-top__vacancy-full {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title__vacancy-full {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: var(--black-100);
}

.company__vacancy-full {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--black-75);
}

.header-bottom__vacancy-full {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.actions-group__vacancy-full {
  display: flex;
  gap: 24px;
}

.actions-group__vacancy-full .three-dots .ant-btn-default {
  padding: 4px 0;
}

.actions-group__vacancy-full img {
  cursor: pointer;
}

/* ----- CONTENT ----- */

.content__vacancy-full {
  padding: 0 24px;
  margin-top: 24px;
  border-bottom: 1px solid var(--lightgray);
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.date__vacancy-full {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--black-75);
}

.wrapper__vacancy-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.wrapper__vacancy-content .row__vacancy-content {
  display: flex;
  gap: 120px;
}

.inner-content__vacancy-full div {
  width: 200px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.inner-content__vacancy-full p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--black-75);
}

.inner-content__vacancy-full span {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: var(--black-75);
}

/* ----- INFO ----- */

.info__vacancy-full {
  padding: 0 24px;
  margin-top: 24px;
}

.section-name__vacancy-full {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: var(--black-100);
}

.skills-group__vacancy-full {
  margin-bottom: 24px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.directions__vacancy-full {
  margin-bottom: 24px;
}

.circle-text__vacancy-full {
  padding: 6px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--black-75);
  border: 1px solid var(--black-75);
  border-radius: 16px;
  transition: all 0.3s ease;
}

.circle-text__vacancy-full:hover {
  background-color: var(--black-100);
  color: var(--white);
}
.directions__vacancy-full .circle-text__vacancy-full {
  width: 103px;
}

.description__vacancy-full h6 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--black-75);
}

.description__vacancy-full p {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--black-100);
}

.address__vacancy-full {
  padding: 8px 12px;
  width: 254px;
  border: 1px solid var(--lightgray);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.address__vacancy-full div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.address-text__vacancy-full {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--black-50);
}

.address__vacancy-full .ant-btn {
  background: var(--primary-75) !important;
  border-radius: 8px !important;
}

.address__vacancy-full .ant-btn:hover {
  background: var(--primary-100) !important;
}

.footer__vacancy-full {
  position: sticky;
  bottom: 0;
  background: var(--white);
  padding: 24px;
  padding-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1300px) {
  .vacancy-full {
    max-width: 500px;
  }

  .wrapper__vacancy-content .row__vacancy-content {
    gap: 20px;
  }
}

@media (max-width: 1170px) {
  .vacancy-full {
    max-width: 450px;
  }

  .wrapper__vacancy-content .row__vacancy-content {
    gap: 0px;
  }
}

@media (max-width: 1000px) {
  .vacancy-full {
    max-width: 400px;
  }

  .wrapper__vacancy-content {
    gap: 20px;
  }

  .wrapper__vacancy-content .row__vacancy-content {
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (max-width: 900px) {
  .vacancy-full {
    display: none !important;
  }
}
