.ant-modal-mask {
  background: var(--white-100) !important;
}

.ant-modal-root:has(.report-modal) .ant-modal-mask {
  background: rgba(28, 25, 23, 0.56) !important;
}

.radio-group__report-modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.radio-group__report-modal .ant-radio-wrapper span {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--black-75);
}

.ant-modal-root:has(.report-modal) .ant-modal-title {
  margin: 20px 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: var(--black-100);
}

.ant-modal-root:has(.report-modal) .ant-modal-content {
  max-width: 608px !important;
  padding: 30px 40px;
}

.ant-modal-root:has(.report-modal) .ant-modal-body {
  width: 100% !important;
}

.login-modal.ant-modal {
  width: 70% !important;
  top: 73px;
}

.modals {
  position: relative;
}

.back-icon__modal {
  position: absolute;
  top: 15px;
  left: 200px;
  background: var(--white);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.ant-modal-close {
  background: var(--white) !important;
  width: 36px !important;
  height: 36px !important;
  border-radius: 50% !important;
}

.stepper-none {
  display: none;
}

.login-modal .ant-modal-content {
  background-color: transparent;
  border: none;
  padding: 0;
  box-shadow: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.login-modal .ant-modal-header {
  background: none;
  border-radius: none;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.login-modal .ant-modal-body {
  padding: 32px;
  /* width: 481px; */
  /* height: 495px; */
  background: var(--white);
  border-radius: 26px;
  /* display: flex;
  justify-content: center; */
}

.ant-modal-body {
  width: 481px;
}

.body__login-modal h3,
.signin-modal h3 {
  margin-top: 20px;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: var(--black-100);
}

.signin-modal h3 {
  margin-bottom: 40px;
}

.parol-input__modal .ant-input-affix-wrapper {
  min-height: 50px;
}

.signin-modal .primary-btn {
  margin-bottom: 55px;
  border-radius: 8px;
  height: 55px;
}

.full-infos-modal .primary-btn {
  border-radius: 8px;
  height: 55px;
}

.body__login-modal .info__modal {
  margin: 15px 0 40px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--black-75);
}

.select-btn-group__login-modal {
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 4px;
  width: 346px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--white-100);
  border-radius: 26px;
}

.select-btn-group__login-modal button {
  width: 169px;
  height: 100%;
  color: var(--black-50);
  background: transparent;
  border-radius: 24px;
  transition: 0.3s all ease-in;
  border: none;
  cursor: pointer;
}

.selected-button____login-modal {
  background: var(--white) !important;
  color: var(--black-75) !important;
}

.content__login-modal button {
  width: 100% !important;
}

.text__login-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.text__login-modal p {
  max-width: 85%;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--black-75);
}

.code-group__modal {
  margin-bottom: 130px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.code-input__modal {
  /* width: 59px; */
  height: 50px;
  color: var(--black-100) !important;
  background: var(--white-50) !important;
  border: 0.5px solid var(--black-50) !important;
  border-radius: 12px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  outline: none;
}

.code-group__modal .error-text {
  font-size: 16px;
}

@media (max-width: 1200px) {
  .back-icon__modal {
    left: 50px;
  }
}

@media (max-width: 900px) {
  .login-modal.ant-modal {
    width: 90% !important;
    top: 50px;
  }

  .back-icon__modal {
    left: 0px;
  }

  .ant-modal-root:has(.report-modal) .ant-modal-body {
    max-width: 100% !important;
  }
}

@media (max-width: 500px) {
  .login-modal.ant-modal {
    width: 100% !important;
    top: 50px;
  }

  .login-modal .ant-modal-close {
    top: -20px;
  }

  .login-modal .ant-modal-body {
    padding: 20px;
  }

  .login-modal .ant-modal-body {
    max-width: 400px;
  }

  .select-btn-group__login-modal {
    width: 303px;
    margin: 0 auto;
    margin-bottom: 48px;
  }

  .select-btn-group__login-modal button {
    width: 141px;
  }

  .content__login-modal button {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 303px !important;
  }

  .text__login-modal p {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: 400px) {
  .login-modal .ant-modal-body {
    max-width: 350px;
  }
}

@media (max-width: 350px) {
  .select-btn-group__login-modal {
    max-width: 303px;
  }

  .login-modal .ant-modal-body {
    max-width: 335px;
  }
}
