.create-vacancy {
  margin-bottom: 96px;
}

.content__create-vacancy {
  margin: 0 auto;
  width: 100%;
  background: var(--white);
  border: 1px solid var(--light);
  border-radius: 0px 0px 26px 26px;
}

.footer__resume {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.create-vacancy .ant-steps {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 24px;
  border-radius: 16px 16px 0px 0px;
  background: var(--light);
}

.create-vacancy .ant-steps-vertical {
  flex-direction: row !important;
}

.create-vacancy .ant-steps .ant-steps-item {
  flex: 1 !important;
  height: 24px;
}

.create-vacancy .ant-steps .ant-steps-item:nth-child(1) {
  background: var(--primary-50);
  border-right: 1px solid var(--white);
  border-radius: 16px 0px 0px 0px;
}

.create-vacancy .ant-steps .ant-steps-item:nth-child(2) {
  border-right: 1px solid var(--white);
}

.create-vacancy .ant-steps .ant-steps-item:nth-child(3) {
  border-radius: 0px 16px 0px 0px;
}

.create-vacancy .ant-steps-item-active,
.create-vacancy .ant-steps-item-finish {
  background: var(--primary-50) !important;
}

.create-vacancy .ant-steps-item-container {
  display: none;
}

@media (max-width: 900px) {
  .footer__resume {
    padding: 32px;
  }
}

@media (max-width: 500px) {
  .footer__resume {
    padding: 16px;
  }
}
