.my-applications {
  padding-top: 20px;
  width: 100%;
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.my-applications-wrapper {
  background: var(--white-50);
}

@media (max-width: 900px) {
  .my-applications{
    gap: 20px;
  }
}