.occupation__card {
  margin-right: 24px;
  width: 174px;
  padding: 16px;
  background: var(--white);
  border-radius: 12px;

}

.occupation__title {
  margin-bottom: 14px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--black);
}

.occupation__cost {
  margin-bottom: 12px;
}

.occupation__cost,
.occupation__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--darkgray);
}

@media (max-width: 490px) {
  .occupation__card {
    margin: 0 auto;
  }
}
