.home-blog {
  position: relative;
  margin-top: 96px;
  padding-bottom: 128px;
}

.content__home-blog {
  margin-top: 72px;
}

@media (max-width: 834px) {
  .home-blog {
    margin-top: 76px;
  }
}

@media (max-width: 500px) {
  .home-blog {
    margin-top: 55px;
  }
}
