.categories {
  padding-top: 96px;
  padding-bottom: 64px;
  background: white;
}

.content__categories {
  margin-top: 32px;
}

.item__categories {
  padding: 16px;
  width: 187px;
  height: 160px;
  border: 1px solid #c6c5c5;
  border-radius: 12px;
}

.category__title {
  margin: 16px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.category__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8d8c8b;
}

.see-all__btn {
  padding: 12px 24px;
  margin: 32px auto;
  display: block;
  border-radius: 26px;
  border: 1px solid #008dff;
  background: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #008dff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.see-all__btn:hover {
  background: var(--blue);
  color: white;
}

@media (max-width: 500px) {
  .item__categories {
    max-width: 160px;
  }
}

@media (max-width: 380px) {
  .see-all__btn {
    width: 100%;
  }
  .item__categories {
    padding: 12px;
    max-width: 140px;
  }
}
