.categories {
  padding-top: 96px;
  padding-bottom: 64px;
  background: var(--white);
}

.content__categories {
  margin-top: 32px;
}

.item__categories {
  padding: 16px;
  width: 187px;
  height: 160px;
  border: 1px solid var(--lightgray);
  border-radius: 12px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.item__categories:hover {
  border-color: var(--blue);
}

.category__title {
  margin: 16px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--black);
}

.category__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--darkgray);
}

.see-all__btn {
  padding: 12px 24px;
  margin: 32px auto;
  display: block;
  border-radius: 26px;
  border: 1px solid var(--blue);
  background: var(--white);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--blue);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.see-all__btn:hover {
  background: var(--blue);
  color: var(--white);
}

@media (max-width: 834px) {
  .categories {
    padding-top: 76px;
  }
  .content__categories {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .item__categories {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .categories {
    padding-top: 56px;
  }

  .item__categories {
    padding: 12px;
    height: 144px;
  }

  .category__title {
    margin: 12px 0;
  }
}

@media (max-width: 380px) {
  .see-all__btn {
    width: 100%;
  }
}
