/* ----- HEADER ----- */
.header-wrapper {
  background: var(--blue);
  height: auto;
}

.header {
  padding: 9px 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo img {
  width: 100%;
  max-width: 183px;
  height: auto;
}

.button__search-group {
  border: none;
}

.select-btn-group__header {
  padding: 4px;
  width: 346px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--lightblue);
  border-radius: 26px;
}

.select-btn-group__header button {
  width: 169px;
  height: 100%;
  color: var(--white);
  background: transparent;
  border-radius: 24px;
  transition: 0.3s all ease-in;
}

.selected-button__header {
  background: var(--white) !important;
  color: var(--gray) !important;
}

.enter-btn__header {
  width: 91px;
  height: 43px;
  background: var(--lightblue);
  border-radius: 8px;
}

.enter-btn__header:hover {
  background: var(--white) !important;
  color: var(--blue) !important;
}

.white-select .ant-select-selector {
  color: var(--white) !important;
}

.white-select .ant-select-arrow {
  color: var(--white) !important;
}

.header nav ul {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  list-style: none;
}

.header nav a {
  color: var(--white);
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.header nav a:hover,
.header nav a.active,
.ant-drawer nav a.active {
  color: var(--black);
}

.ant-drawer nav ul {
  list-style: none;
}

.ant-drawer nav li {
  margin: 15px 0;
}

.ant-drawer nav a {
  color: var(--gray);
}

.header__actions {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header__profile {
  display: flex;
  gap: 12px;
  align-items: center;
}

.header__profile button {
  background: none;
  border: none;
}

.profile__name {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: var(--white);
}

.header__hamburger-btn {
  margin-left: 24px;
  background: var(--lightblue);
}

.mobileVisible {
  display: none;
}

.mobileHidden {
  display: block;
  margin-right: auto;
  margin-left: 40px;
}

/* ----- RESPONSIVE ----- */

@media only screen and (max-width: 1000px) {
  .header__logo img {
    max-width: 140px;
  }

  .header__actions--auto {
    margin-left: auto;
  }

  .mobileVisible {
    display: block;
  }

  .mobileHidden {
    display: none !important;
  }

  .white-select--none {
    display: none !important;
  }

  .header__hamburger-btn {
    margin-left: 24px;
  }
}

@media only screen and (max-width: 697px) {
  .header__logo {
    max-width: 120px;
  }

  .header {
    flex-wrap: wrap;
    height: auto;
  }

  .header__actions{
    gap: 10px;
  }

  .select-btn-group__header {
    margin: 0 auto;
    margin-top: 10px;
    align-self: center;
    order: 10;
  }

}

@media only screen and (max-width: 550px) {
  .header__profile--none {
    display: none;
  }

  .header__hamburger-btn {
    margin-left: 0px;
  }

  .white-select{
    display: none;
  }

  .select-btn-group__header {
    max-width: 100% !important;
  }

  .button__search-group {
    width: 164px !important;
  }
}
