.sign-mock {
  margin-top: 76px;
  padding: 48px 64px 82px 64px;
  border-radius: 26px;
  background: var(--primary-12);
}

.sign-mock h2 {
  margin-bottom: 48px;
  text-align: center;
  font-weight: 600;
  font-size: 39px;
  line-height: 47px;
  color: var(--black-100);
}

.sign-content__mock {
  padding: 48px;
  width: 599px;
  margin: 0 auto;
  background: var(--white);
  border-radius: 26px;
}

.sign-content__mock .primary-btn {
  width: 100%;
}

@media (max-width: 834px) {
  .sign-mock {
    padding: 48px 64px 64px 64px;
  }

  .sign-content__mock {
    width: 100%;
  }

  .sign-mock h2 {
    font-size: 35px;
    line-height: 42px;
  }
}

@media (max-width: 600px) {
  .sign-mock {
    margin-top: 70px;
    padding: 43px 20px 48px 20px;
  }

  .sign-mock h2 {
    font-size: 32px;
    line-height: 39px;
  }

  .sign-content__mock {
    width: 100%;
    padding: 16px;
  }
}

@media (max-width: 400px) {
  .sign-mock {
    padding: 43px 10px 48px 10px;
  }

  .sign-content__mock {
    padding: 10px;
  }
}
