.sections-header {
  display: flex;
  justify-content: space-between;
}

.sections-header a{
  text-decoration: none;
}

.btn__sections-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: 48px;
  padding: 24px;
  color: var(--primary-100);
  background: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border-radius: 26px;
  border: 1px solid var(--primary-100);
  transition: all 0.3s linear;
  cursor: pointer;
}

.btn__sections-header:hover {
  background: var(--primary-100);
  color: var(--white);
}

.btn__sections-header:hover img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
    hue-rotate(140deg) brightness(108%) contrast(100%);
}

@media (max-width: 650px) {
  .btn__sections-header {
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
  }
}
