.search-result {
  margin-bottom: 20px;
  padding: 22px 12px 22px 24px;
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--white);
  border-radius: 12px;
}

.left__search-result {
  display: flex;
  align-items: center;
  gap: 8px;
}

.left__search-result p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--black-100);
}

.number__search-result {
  font-weight: 600;
}

.right__search-result {
  display: none;
}

.right__search-result button {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--black-100);
  border: 1px solid var(--lightgray);
  border-radius: 8px;
  background: var(--white);
}

@media (max-width: 900px) {
  .search-result {
    width: 100%;
    max-width: none !important;
  }
}

@media (max-width: 834px) {
  .right__search-result {
    display: flex !important;
  }
}

@media (max-width: 534px) {
  .search-result {
    padding: 12px;
    height: auto;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
  }

  .right__search-result {
    align-self: center;
  }

  .right__search-result button {
    display: flex !important;
    width: 100% !important;
    flex: 1;
    min-width: 80vw !important;
    text-align: center;
  }
}
