.card___blog {
  width: 397px;
}

.card___blog img {
  width: 100%;
  max-width: 397px;
  height: auto;
}

.blog__date {
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--dark);
}

.blog__title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--dark);
}

.blog__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray);
}

@media (max-width: 1350px) {
  .card___blog {
    width: 350px;
  }
}

@media (max-width: 1186px) {
  .card___blog {
    width: 300px;
  }
}

@media (max-width: 1000px) {
  .card___blog {
    width: 250px;
  }
}

@media (max-width: 860px) {
  .card___blog {
    width: 238px;
  }
}

@media (max-width: 800px) {
  .card___blog {
    width: 90%;
  }

  .card___blog img {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .card___blog {
    width: 100%;
  }
}
