
.slick-dots li {
  background: var(--lightcyan);
  width: 51px !important;
}

.slick-dots li.slick-active button {
  background: var(--dark) !important;
  opacity: 1;
}

.slick-dots-bottom {
  bottom: -70px !important;
}

@media (max-width: 800px) {
  .slick-dots-bottom {
    bottom: -30px !important;
  }
}

.slick-arrow {
  background: #f2f3f7 !important;
  z-index: 7;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
}

.slick-next {
  transform: translateX(-20px);
}

.slick-prev:before {
  content: url("../../../assets/images/left-arrow.png") !important;
  transform: rotate(90deg) !important;
}

.slick-next:before {
  content: url("../../../assets/images/right-arrow.svg") !important;
}
