.alice-carousel__dots {
  display: none;
}

.slick-dots li {
  background: #e0f1ff;
  width: 51px !important;
}

.slick-dots li.slick-active button {
  background: #1c1917 !important;
  opacity: 1;
}

.slick-dots-bottom {
  bottom: -70px !important;
}

@media (max-width: 800px) {
  .slick-dots-bottom {
    bottom: -30px !important;
  }
}
