.ant-form-item .ant-form-item-label > label {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--black-75);
}

.ant-form .ant-input,
.ant-form .ant-picker,
.ant-form .ant-select,
.ant-form .ant-input-affix-wrapper,
.ant-form .ant-upload .ant-btn,
.input__job-seeker {
  background: var(--white-50) !important;
  border: 0.5px solid var(--primary-12);
  border-radius: 12px !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: var(--black-50) !important;
}

.input__job-seeker{
  outline: none;
  padding: 10px 16px;
  width: 100%;
}

.ant-form .ant-upload {
  width: 100% !important;
}

.ant-form .ant-upload .ant-btn {
  width: 100% !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.ant-form .ant-radio-group {
  max-width: none;
}

.ant-form .ant-picker,
.ant-form .ant-radio-group {
  width: 100%;
}

.ant-form .ant-radio-button-wrapper {
  width: 50%;
}

.ant-form .ant-radio-group {
  text-align: center;
  background: var(--white-50) !important;
  border: 0.5px solid var(--primary-12) !important;
  border-radius: 12px !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: var(--black-50) !important;
}

.ant-form .ant-radio-button-wrapper,
.ant-form .ant-select-selector {
  background: var(--white-50) !important;
}

.ant-input-affix-wrapper .ant-input {
  background: transparent !important;
  border: none !important;
}

.ant-form .ant-space-item .ant-tag {
  padding: 6px 6px 6px 16px;
  height: 36px;
  border: 1px solid #555351;
  border-radius: 16px;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.ant-form .ant-tag-close-icon {
  width: 24px;
  height: 24px;
  background: #f2f3f7;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone-input .ant-input {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.phone-input .ant-input-group-addon {
  border-color: var(--primary-12);
}

.phone-input .ant-select {
  background: transparent;
  border: none;
}

.d-none {
  display: none !important;
}
