.section-title__create-vacancy {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--black-75, #555351);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.add-test-modal .email_phone_form input[type="submit"] {
  margin: 24px 0;
}
